body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
 
 
}
a {
    text-decoration: none;
}
ul > li{list-style-type: none;

}

.accent{ color: #2e2f42;}
.link-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px; 
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.site-nav .link{
    font-weight: 500;
        font-size: 16px; 
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.site-nav .link:hover{
color: #404bbf;
}
.site-nav .link:active,
.site-nav .link:focus{
    color: #404bbf;
}
.page-addres{
    font-style: normal
}

.site-addres .link{
     font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.page-addres .link:hover{
    color: #404bbf;
}
.page-addres.link:active,
.page-addres .link:focus{
    color: #404bbf;
}
.hero-title{
    font-weight: 700;
        font-size: 56px; 
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: white;
}
.page-solutions{
    background-color: #2E2F42;
    
}
.hero-title{
    font-weight: 700;
        font-size: 56px; 
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: white;
}
.page-solutions .button-service{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: white;
        background-color: #4d5ae5;
        cursor: pointer;
        
}
.page-solutions .button-service:hover,
.page-solutions .button-service:focus{
    background-color:  #404bbf;
}
.page-features .title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.page-features .text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.page-team{
    background-color: #f4f4fd;
}
.team-list .punkt-team{
    background-color: #FFFFFF;
}
.title-team{
    text-transform: capitalize;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.page-team .title{
    text-transform: capitalize;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.page-team .text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.title-portfolio{
    text-transform: capitalize;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.portfolio-list{
    background-color: #FFFFFF;
}
.page-portfolio .title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.page-portfolio .text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.botom{
    background-color: #2e2f42;
}
.link-logo-foter{
     font-family: "Raleway", sans-serif;
     font-weight: 700; 
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.botom .text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
.accent-logo-footer{
    color: #f4f4fd;
}